# main directories & files
.git
.vscode
CONTRIBUTING.md
Jenkinsfile
Makefile
conf.py
configuration
default.cvcrc
dependencies
docker
docs
env.py
install
regression_results
requirements.txt
requirements_dev.txt
requirements_lint.txt
run_designs.py
run_issue_regressions.py
tests
venv
# designs
designs/APU
designs/BM64
designs/PPU
designs/aes
designs/aes_core
designs/blabla
designs/caravel_upw
designs/gcd
designs/inverter
designs/manual_macro_placement_test
designs/picorv32a
designs/s44
designs/salsa20
designs/spm
designs/usb
designs/usb_cdc_core
designs/wbqspiflash
designs/xtea
designs/y_huff
designs/zipdiv
designs/.gitignore
!*/config.tcl
!*/script.tcl
# specific files
*.mag
*.maglef